/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
* {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  color: #4299E1;
  background: white;
  border: 1px solid #4299E1;
  border-radius: 99px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #4299E1;
  color: white;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.text {
  background: white;
  color: #111111;
  padding: 5px 10px;
  margin: 1rem;
  width: 70%;
  height: 34px;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 800px) {
  .container {
    background-position: center center;
    background-size: cover;
  }

  /* button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  } */
}
